<footer id="footer" class="footer">
    <div class="footer__bg">
      <div class="footer__container container grid">
            
              <div>
                  <h1 class="footer__title">
                  RATE US
                  </h1>
                  <span class="footer__subtitle">
                    <a href="#">LINK</a>
                  </span>
              </div>
              
  
              <ul class="footer__links">
                 
                  <li>
                      <a href="https://docs.google.com/forms/d/e/1FAIpQLSdUkNmXpaEeYWLDVZYsehwwsknu7z6EF7ZftkgcKbso5kmaIA/viewform?usp=sf_link" class="footer__link">Feedback</a>
                  </li>
                  <li>
                      <a href="https://docs.google.com/forms/d/e/1FAIpQLSf0v4J970Yw4JAJ1FNd_N9nbGFaMdGadVmk-0F0PS2qFw1_WQ/viewform?usp=sf_link" class="footer__link">Help!</a>
                  </li>

  
              </ul>
  
              <div class="footer__socials">
              
                <a
                  href="https://github.com/Deepak75323"
                  target="_blank"
                  class="footer__social"
                >
                  <i class="uil uil-github"></i>
                </a>
               
              </div>
          </div>
  
        <p class="footer__copy">&#169; deepakcoder.All Right Reserved</p>
  
      </div>
  </footer>
  