<section class="work section">
    <h2 data-heading="Information" class="section__title">DELHI TECHNOLOGICAL UNIVERSITY</h2>
    
    <div class="work__filters" id="work-link">
        <span class="work__item active-work" data-filter="all">ALL</span>
        <span class="work__item" data-filter=".first">1ST YEAR</span>
        <span class="work__item" data-filter=".bt">BT</span>
        <span class="work__item" data-filter=".ce">CE</span>
         <span class="work__item" data-filter=".coe">COE</span>
        <span class="work__item" data-filter=".ee">EE</span>
        <span class="work__item" data-filter=".ece">ECE</span>
        <span class="work__item" data-filter=".ep">EP</span>
        <span class="work__item" data-filter=".ene">ENE</span>
         <span class="work__item" data-filter=".it">IT</span>
        <span class="work__item" data-filter=".mce">MCE</span>
        <span class="work__item" data-filter=".mam">MAM</span>
        <span class="work__item" data-filter=".me">ME</span>
        <span class="work__item" data-filter=".pie">PIE</span>
    </div>
  
  
    <div class="work__container container grid">
  


      <div class="work__card mix first">
        <img src="/images/first.png" alt="" class="work__img">
       <h3 class="work__title">1ST YEAR</h3>
   
       <span class="work__button">
       
         <a href="/subject/first">Click here</a>
         <i class="uil uil-arrow-right work__button-icon"></i>
       </span>
        
       </div>





        <div class="work__card mix bt">
         <img src="/images/biotech.jpg" alt="" class="work__img">
        <h3 class="work__title">BIO TECH</h3>
    
        <span class="work__button">
        
          <a href="/subject/biotech">Click here</a>
          <i class="uil uil-arrow-right work__button-icon"></i>
        </span>
         
        </div>




      <div class="work__card mix ce">
        <img src="/images/chemical2.jpeg" alt="" class="work__img">
       <h3 class="work__title"> CHEMICAL ENGINNERING</h3>
   
       <span class="work__button">
       
         <a href="/subject/chemical">Click here</a>
         <i class="uil uil-arrow-right work__button-icon"></i>
       </span>
        
        </div>



        
    <div class="work__card mix coe">
        <img src="/images/cse5.jpeg" alt="" class="work__img">
       <h3 class="work__title">COMPUTER SCIENCE</h3>
   
       <span class="work__button">
       
         <a href="/subject/cse">Click here</a>
         <i class="uil uil-arrow-right work__button-icon"></i>
       </span>
        
     </div>




     <div class="work__card mix ee">
        <img src="/images/electric.jpg" alt="" class="work__img">
       <h3 class="work__title">ELECTRICAL ENGINEERING</h3>
   
       <span class="work__button">
       
         <a href="/subject/ee">Click here</a>
         <i class="uil uil-arrow-right work__button-icon"></i>
       </span>
      
   
     </div>
     



     <div class="work__card mix ece">
        <img src="/images/ece2.jpg" alt="" class="work__img">
       <h3 class="work__title">ELECTRONICS AND COMMUNICATION ENGINEERING</h3>
   
       <span class="work__button">
       
         <a href="/subject/ece">Click here</a>
         <i class="uil uil-arrow-right work__button-icon"></i>
       </span>
      
   
     </div>


     <div class="work__card mix ep">
        <img src="/images/ep2.webp" alt="" class="work__img">
       <h3 class="work__title">ENGINEERING PHYSICS</h3>
   
       <span class="work__button">
       
         <a href="/subject/ep">Click here</a>
         <i class="uil uil-arrow-right work__button-icon"></i>
       </span>
      
   
     </div>


     <div class="work__card mix ene">
        <img src="/images/env2.jpeg" alt="" class="work__img">
       <h3 class="work__title">ENVIRONMENTAL ENGINEERING</h3>
   
       <span class="work__button">
       
         <a href="/subject/ee">Click here</a>
         <i class="uil uil-arrow-right work__button-icon"></i>
       </span>
      
   
     </div>



     <div class="work__card mix it">
        <img src="/images/it.jpeg" alt="" class="work__img">
       <h3 class="work__title">INFORMATION TECHNOLOGY</h3>
   
       <span class="work__button">
       
         <a href="/subject/it">Click here</a>
         <i class="uil uil-arrow-right work__button-icon"></i>
       </span>
      
   
     </div>


     <div class="work__card mix mce">
        <img src="/images/mce3.webp" alt="" class="work__img">
       <h3 class="work__title">MATHEMATICS & COMPUTING</h3>
   
       <span class="work__button">
       
         <a href="/subject/mce">Click here</a>
         <i class="uil uil-arrow-right work__button-icon"></i>
       </span>
      
   
     </div>


     <div class="work__card mix mam">
        <img src="/images/aauto.jpeg" alt="" class="work__img">
       <h3 class="work__title">MECHANICAL ENGINEERING(AUTOMOBILE ENGINEERING)</h3>
   
       <span class="work__button">
       
         <a href="/subject/mam">Click here</a>
         <i class="uil uil-arrow-right work__button-icon"></i>
       </span>
      
      </div>


      <div class="work__card mix me">
        <img src="/images/mechanical.jpg" alt="" class="work__img">
       <h3 class="work__title">MECHANICAL ENGINEERING</h3>
   
       <span class="work__button">
       
         <a href="/subject/me">Click here</a>
         <i class="uil uil-arrow-right work__button-icon"></i>
       </span>
      
      </div>


 

     <div class="work__card mix pie">
        <img src="/images/ind.jpg" alt="" class="work__img">
       <h3 class="work__title">PRODUCTION & INDUSTRIAL ENGINEERING</h3>
   
       <span class="work__button">
       
         <a href="/subject/pie">Click here</a>
         <i class="uil uil-arrow-right work__button-icon"></i>
       </span>
      
   

     </div>
  </div>



  </section>
  
  
  
  