<div class="wrapper">
    <div class="title-text">
       <div class="title login">
          Login Form
       </div>
       <div class="title signup">
          Signup Form
       </div>
    </div>
    <div class="form-container">
         <div class='g-sign-in-button'>
           <div class=content-wrapper>
              <a href="/users/auth/google">
     
                 <div class='logo-wrapper'>
                    <img src='https://developers.google.com/identity/images/g-logo.png'>
                </div>
                <span class='text-container'>
              <span>Sign in with Google</span>
            </span>
     
              </a>
           </div>
       </div>
    </div>

 
 </div>